<% title "Tecnicas" %>

<table>
  <tr>
    <th>Oa</th>
  </tr>
  <% for tecnica in @tecnicas %>
    <tr>
      <td><%=h tecnica.oa_id %></td>
      <td><%= link_to "Show", tecnica %></td>
      <td><%= link_to "Edit", edit_tecnica_path(tecnica) %></td>
      <td><%= link_to "Destroy", tecnica, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Tecnica", new_tecnica_path %></p>
