<% title "Pagina" %>

<p>
  <strong>Libro:</strong>
  <%=h @pagina.libro_id %>
</p>
<p>
  <strong>Nropagina:</strong>
  <%=h @pagina.nropagina %>
</p>

<p>
  <%= link_to "Edit", edit_pagina_path(@pagina) %> |
  <%= link_to "Destroy", @pagina, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", paginas_path %>
</p>
