<% title "Actualización de datos de Usuario" %>
chingao!!
<%#= render :partial => 'form' %>

<% form_for @user, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
 <%= image_tag @user.foto.url(:small) %>
<table>
  <tr>
    <td><%= f.label :Foto %></td>
    <td><%= f.file_field :foto %></td>
  </tr>
  <tr>
    <td><%= f.label :"Nombre de usuario" %></td>
    <td><%= f.text_field :username %></td>
  </tr>
  <tr>
    <td><%= f.label :"e-mail" %></td>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <td><%= f.label :Contraseña %></td>
    <td><%= f.password_field :password %></td>
  </tr>
  <tr>
    <td><%= f.label :"Confirmación de contraseña" %></td>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>
  <tr>
    <td><%= f.label :Rol %></td>
    <td><%= f.collection_select :role, User::ROLES, :to_s, :humanize %></td>
  </tr>
  <tr>
    <td><%= f.label :Estado %></td>
    <td><%= f.collection_select :status, User::ESTADO, :to_s, :humanize %></td>
  </tr>
  <tr>
    <td><%= f.label :"Nombre y Apellido"%></td>
    <td><%= f.text_field :nombreapellido%></td>
  </tr>
  <tr>
    <td><%= f.label :Pais %></td>
    <td><%= f.text_field :pais %></td>
  </tr>
  <tr>
    <td><%= f.label :Ciudad %></td>
    <td><%= f.text_field :ciudad %></td>
  </tr>
  <tr>
    <td><%= f.label :Idioma %></td>
    <td><%= f.text_field :idioma %></td>
  </tr>
  <tr>
    <td><%= f.label :Sexo %></td>
    <td><%= f.collection_select :sexo, User::SEXO, :to_s, :humanize %></td>
  </tr>
  <tr>
    <td><%= f.label :"Fecha de nacimiento" %></td>
    <td><%= date_select('user', 'fechanacimiento', :order => [:day,:month,:year],
                                               :start_year => Time.now.year-5,
                                               :end_year => Time.now.year-70,
                                               :use_month_names => %w(_ enero febrero marzo abril mayo junio julio agosto septiembre octubre noviembre diciembre mayo),
                                               :prompt => { :day => 'día', :month => 'mes', :year => 'año' }
                                               ) %></td>
  </tr>
  <tr>
    <td><%= f.label :Cargo %></td>
    <td><%= f.text_field :cargo %></td>
  </tr>
  <tr>
    <td><%= f.label :"Dirección de Skype" %></td>
    <td><%= f.text_field :skype %></td>
  </tr>
  <tr>
    <td><%= f.label :"Fecha y Hora  de creación"%></td>
    <td><%=h @user.created_at %></td>
  </tr>
</table>
  <p><%= f.submit "Guardar cambios" %></p>
<% end %>
