<% title "Usuario" %>

<p>
  d<%=image_tag @user.foto.url(:small) %>
</p>
<p>
  <strong>Nombre de Usuario:</strong>
  <%=h @user.username %>
</p>
<p>
  <strong>Correo Electronico:</strong>
  <%=h @user.email %>
</p>
<p>
  <strong>Nombre y Apellido:</strong>
  <%=h @user.nombreapellido %>
</p>
<p>
  <strong>País:</strong>
  <%=h @user.pais %>
</p>
<p>
  <strong>Ciudad:</strong>
  <%=h @user.ciudad %>
</p>
<p>
  <strong>Idioma:</strong>
  <%=h @user.idioma %>
</p>

<p>
  <strong>Sexo:</strong>
  <%=h @user.sexo %>
</p>
<p>
  <strong>Fecha de Nacimiento:</strong>
  <%=h @user.fechanacimiento %>
</p>
<p>
  <strong>Cargo:</strong>
  <%=h @user.cargo %>
</p>
<p>
  <strong>Skype:</strong>
  <%=h @user.skype %>
</p>
<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>
</p>
arreglando el show de user
