<% title "Oas" %>

<table>
  <tr>
    <th>Recurso</th>
    <th>Titulo</th>
    <th>Idioma</th>
    <th>Descripcion</th>
  </tr>
  <% for oa in @oas %>
    <tr>
      <td><%= image_tag oa.media.url(:thumb) %></td>
      <td><%=h oa.titulo %></td>
      <td><%=h oa.idioma %></td>
      <td><%=h oa.descripcion %></td>
      <td><%= link_to "Show", oa %></td>
      <td><%= link_to "Edit", edit_oa_path(oa) %></td>
      <td><%= link_to "Destroy", oa, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Oa", new_oa_path %></p>
