<h1>Listing libros</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Contenido</th>
  </tr>

<% @libros.each do |libro| %>
  <tr>
    <td><%=h libro.titulo %></td>
    <td><%=h libro.contenido %></td>
    <td><%= link_to 'Show', libro %></td>
    <td><%= link_to 'Edit', edit_libro_path(libro) %></td>
    <td><%= link_to 'Destroy', libro, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New libro', new_libro_path %>