<% title @libro.titulo %>


<table>
  <tr>
    <th>recurso</th>
    <th>pagina</th>
  </tr>
  <% for pagina in @libro.paginas.all(:order=> "media_file_name ASC") %>
    <tr>
      <td><%= image_tag pagina.media.url(:thumb) %></td>
      <td><%=h pagina.media_file_name %></td>
      <td><%= link_to "Show", pagina %></td>
      <td><%= link_to "Edit", edit_pagina_path(pagina) %></td>
      <td><%= link_to "Destroy", pagina, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<%# aca podemos cargar las paginas%>
<% form_for @libro.paginas.new, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.hidden_field :libro_id %>
  </p>
  <p>
    <%= f.label :"Nueva pagina" %><br />
    <%= f.file_field :media %>
  </p>
  <p>
    <%= f.hidden_field :nropagina %>
  </p>
  <p><%= f.submit %></p>
<% end %>
<%= link_to "View All", libros_path %>

