<% title "New User Session" %>

<% form_for @user_session do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username, "login รณ e-mail" %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%=  f.label :password,  "Password" %><br />
    <%= f.password_field :password %>
  </p><br />
  <p><%= f.submit %></p>
<% end %>


