<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "ROA") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
  </head>


  <body>
    <div id="wrap">
      <div id="header">
        <h1><a href="http://127.0.0.1:3000/">Repositorio de Objetos de Aprendizaje</a></h1>
        <h2>Instituto Exclusivo</h2>
        <div id="user_nav">
          <% if current_user %>
            Bienvenido <b><%= h  current_user.username %></b>
            <%= link_to "Editar perfil", edit_user_path(current_user) %> |
            <%= link_to "Salir", logout_path %>
          <% else %>
            <%= link_to "Registro", new_user_path %> |
            <%= link_to "Entrar", login_path %>
          <% end %>
            
        </div>
      </div>
        <div id="menu">
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/users">Usuarios</a></li>
            <li><a href="/libros">libros</a></li>
            <li><a href="/paginas">paginas</a></li>
            <li><a href="/oas">Objetos de Aprendizaje</a></li>
            <li><a href="/unitarios">recursos unitarios</a></li>
           
          </ul>
        </div>
        <div id="content">
          <div class="left">
            <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <%- end -%>
             <%- if show_title? -%>
          <h1><%=h yield(:title) %></h1>
            <%- end -%>
          <%= yield %>
          </div>
          <div class="right">
            <h2>Categorias :</h2>
              <ul>
              <li><a href="#">Los más vistos</a></li>
              <li><a href="#">Los más votados</a></li>
              <li><a href="#">Los más comentados</a></li>
              <li><a href="#">Recientes</a></li>
              
              </ul>
          </div>
          <div style ="clear: both;"</div>
        </div>
        <div id="footer">
          <a href="http://www.instituto-exclusivo.com/" target="_blank">Instituto-Exclusivo</a> by Juanca 2010
        </div>
      </div>
    

  </body>
</html>
